# 6.1 as we have command in terminal previously "docker run -p 5001:5000 --name volumes-container --rm -v "C:\Projects\docker-tutorial-codeabc-basic-to-advance\docker-volumes-bind-mount:/app" -v "/app/node_modules" volumes-bind-i", so in similar pattern we will command in docker-compose.yaml file
version: "3.8"

services:
  backend:
    # 6.2 build the image from the folder "./docker-volumes-bind-mount". Here, '.' means go to one step back and then go to the folder "docker-volumes-bind-mount"
    build: ./docker-volumes-bind-mount
    container_name: node_app_container
    # 6.3 expose the port 5000
    ports:
      - "5000:5000"
      #6.4 set volumes
    volumes:
      - ./docker-volumes-bind-mount:/app
      - /app/node_modules

    # 7.2 set network same as 7.1 created network but in array format
    networks:
      - react-app-network
    # 7.4.1 add depends_on because we need to connect backend with DB also frontend but here it is commented due to dummy DB
    # depends_on:
    #   - frontend
    #   - DB

    # 6.5 run in terminal "docker-compose up" then click the url "http://localhost:5000/" and u will get the "Dockerize the volume bind mount Nodejs applications".

    # 6.6 to stop the container run "docker-compose down"

    # 6.7 now command for frontend similar with backend just add "environment:- CHOKIDAR_USEPOLLING=true - WATCHPACK_POLLING=true" which helps to realtime update
  frontend:
    build: ./dockerize-react-app
    container_name: react_app_container
    ports:
      - "5173:5173"
    volumes:
      - ./dockerize-react-app:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true

    # 7.3 set the network same as backend. Now run "docker-compose up" then "docker network ls" and u will see the network "docker-tutorial-codeabc-basic-to-advance_react-app-network". In that way frontend and backend will be connected i.e any kind of rest api request will be send to the backend with the same network
    networks:
      - react-app-network

  # 7.4.0 if i have another service like DB and it needs to connect with backend so created a DB service. Following is the dummy DB and commented due to due to dummy which will make error. The DB will depends_on backend 7.4.1.

  # DB:
  #   image: mongo
  #   container_name: mongo_db_container
  #   ports:
  #     - "27017:27017"
  #   networks:
  #     - react-app-network

# 7.1 created a network
networks:
  react-app-network:
